### Práctica Realizada por Óscar Calvet Sisó y Javier Alarcón Caracena

In [72]:
import pandas as pd

In [73]:
data = pd.read_csv('casos_diagnostico_ccaa.csv')

In [74]:
data.head()

,ccaa_iso,fecha,num_casos,num_casos_prueba_pcr,num_casos_prueba_test_ac,num_casos_prueba_ag,num_casos_prueba_elisa,num_casos_prueba_desconocida
0,AN,2020-01-01,0,0,0,0,0,0
1,AR,2020-01-01,0,0,0,0,0,0
2,AS,2020-01-01,0,0,0,0,0,0
3,CB,2020-01-01,0,0,0,0,0,0
4,CE,2020-01-01,1,0,0,1,0,0

## Cambiar nombre de las variables

In [60]:
data = data.rename(columns={'ccaa_iso': 'Comunidad Autónoma', 'fecha' : 'Fecha', 'num_casos' : 'Nº de casos', 
                           'num_casos_prueba_pcr' : 'PCRs', 'num_casos_prueba_test_ac' : 'Prueba anticuerpos', 
                           'num_casos_prueba_ag' : 'Prueba antígenos', 'num_casos_prueba_elisa' : 'Prueba ELISA',
                           'num_casos_prueba_desconocida' : 'Prueba desconocida'})

In [61]:
data.head()

,Comunidad Autónoma,Fecha,Nº de casos,PCRs,Prueba anticuerpos,Prueba antígenos,Prueba ELISA,Prueba desconocida
0,AN,2020-01-01,0,0,0,0,0,0
1,AR,2020-01-01,0,0,0,0,0,0
2,AS,2020-01-01,0,0,0,0,0,0
3,CB,2020-01-01,0,0,0,0,0,0
4,CE,2020-01-01,1,0,0,1,0,0

## Sustituir siglas CCAA

In [62]:
def sigla_to_name(x):
    match x:
        case 'AN':
            return 'Andalucía'
        case 'GA':
            return 'Galicia'
        case 'RI':
            return 'La Rioja (Spain)'
        case 'PV':
            return 'País Vasco'
        case 'NC':
            return 'Comunidad Foral de Navarra'
        case 'ML':
            return 'Melilla'
        case 'MD':
            return 'Comunidad de Madrid'
        case 'MC':
            return 'Región de Murcia'
        case 'IB':
            return 'Islas Baleares'
        case 'EX':
            return 'Extremadura'
        case 'AR':
            return 'Aragón'
        case 'CT':
            return 'Cataluña'
        case 'CN':
            return 'Canarias'
        case 'CM':
            return 'Castilla-La Mancha'
        case 'CL':
            return 'Castilla y León'
        case 'CE':
            return 'Ceuta'
        case 'CB':
            return 'Cantabria'
        case 'AS':
            return 'Principado de Asturias'
        case 'VC':
            return 'Comunidad Valenciana'

In [63]:
data['Comunidad Autónoma'] = data['Comunidad Autónoma'].apply(sigla_to_name)

In [64]:
data.head()

,Comunidad Autónoma,Fecha,Nº de casos,PCRs,Prueba anticuerpos,Prueba antígenos,Prueba ELISA,Prueba desconocida
0,Andalucía,2020-01-01,0,0,0,0,0,0
1,Aragón,2020-01-01,0,0,0,0,0,0
2,Principado de Asturias,2020-01-01,0,0,0,0,0,0
3,Cantabria,2020-01-01,0,0,0,0,0,0
4,Ceuta,2020-01-01,1,0,0,1,0,0

## Eliminar datos que no aportan valor a la serie

In [65]:
data.describe()

,Nº de casos,PCRs,Prueba anticuerpos,Prueba antígenos,Prueba ELISA,Prueba desconocida
count,7429.000000,7429.000000,7429.000000,7429.000000,7429.000000,7429.000000
mean,350.027998,289.335981,0.641405,59.247543,0.496971,0.306098
std,757.003131,616.519879,4.487353,238.479411,3.619920,2.450147
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.000000,3.000000,0.000000,0.000000,0.000000,0.000000
50%,63.000000,58.000000,0.000000,0.000000,0.000000,0.000000
75%,328.000000,292.000000,0.000000,8.000000,0.000000,0.000000
max,7011.000000,6726.000000,96.000000,3411.000000,86.000000,68.000000

Vemos que todas las columnas tienen valores distintos de cero.

Ver si hay valores que faltan.

In [66]:
data.isna().any()

Comunidad Autónoma    False
Fecha                 False
Nº de casos           False
PCRs                  False
Prueba anticuerpos    False
Prueba antígenos      False
Prueba ELISA          False
Prueba desconocida    False
dtype: bool

Ver si hay duplicados

In [67]:
data.duplicated().any()

False

No hay duplicados.

## Adaptar los datos a su tipología

In [68]:
data.dtypes

Comunidad Autónoma    object
Fecha                 object
Nº de casos            int64
PCRs                   int64
Prueba anticuerpos     int64
Prueba antígenos       int64
Prueba ELISA           int64
Prueba desconocida     int64
dtype: object

Todo bien salvo la Comunidad Autónoma y la fecha.

In [71]:
data.astype({'Comunidad Autónoma': 'string', 'Fecha' : 'string'}).dtypes

Comunidad Autónoma    string
Fecha                 string
Nº de casos            int64
PCRs                   int64
Prueba anticuerpos     int64
Prueba antígenos       int64
Prueba ELISA           int64
Prueba desconocida     int64
dtype: object

Guardamos el dataset en fomato excel.

In [70]:
data.to_excel('covid_prepro.xlsx')